# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# Ignore .python-version for libraries; otherwise, include it for projects
#.python-version

# pipenv
#Pipfile.lock

# poetry
#poetry.lock

# pdm
.pdm.toml
#pdm.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyInstaller
*.manifest
*.spec

# PyCharm and other JetBrains IDEs
.nfs*
# Refer to the JetBrains-specific .gitignore: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore

# Data and Logs
depictioDB/
depictioDB_bak/
depictioDB_dev/
depictioDB_K8S/
diagnostic.data/
journal/
*.db
dump.rdb
data_prepare.json
data.json
data/depictio_data.json
data/jbrowse_df_mapping_dict.json
wf_data/
data/minio/
user_data.json
data/depictio_data.json.bak
*.b64

# Heavy files
*.parquet
*.gz
*.csv
*.tsv

# Dev
bak/
dev/jbrowse_dev/assets/multiqc/
dev/jbrowse_dev/assets/
dev/flask-login/.env
dev/token/private_key.pem
dev/token/public_key.pem
dev/token/token.txt
dev/celery/jobs.json
dev/dev_design_visu/data/
dev/dev_delta/
dashboards.json

# Keys & sensitive data
depictio/private_key.pem
depictio/public_key.pem
depictio/tmp_token.pem
depictio/keys/
depictio/.depictio/default_admin_agent.yaml

# Venv
depictio-cli-venv/

# Screenshots
screenshot_*.png
depictio/dash/assets/screenshots/

# S3 
minio_data/
delta_dev/
dev/dev_minio/

# JBrowse2
jbrowse2/
depictio/jbrowse2_configs/
jbrowse-watcher-plugin/jbrowse2_sessions/
jbrowse2_sessions/
jbrowse2_configs/
jbrowse-watcher-plugin/

# macOS and system files
.DS_Store

# Misc
.env*
!.env
ldap_config/
ldap_db/
depictio/dash/static/
depictio/dash/assets/
.aider*
.env

# Tokens
*_token.yaml
depictio/.depictio/
depictio/keys/

# Dependencies & Envs
depictio-venv/