# [submodule "jbrowse-watcher-plugin"]
# 	path = jbrowse-watcher-plugin
# 	url = https://github.com/depictio/jbrowse-watcher-plugin
# [submodule "depictio-example-data"]
# 	path = depictio-example-data
# 	url = https://github.com/depictio/depictio-example-data
