# Python
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## C extensions
*.so

## Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Virtual environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
depictio-cli-venv/
depictio-venv/

## Package managers
### pipenv
#Pipfile.lock

### poetry
#poetry.lock

### pdm
.pdm.toml
#pdm.lock

### pip
pip-log.txt
pip-delete-this-directory.txt

## PEP 582
__pypackages__/

# Testing & Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
test-results/

# IDEs & Editors
## PyCharm and other JetBrains IDEs
.nfs*
# Refer to the JetBrains-specific .gitignore: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore

## Spyder
.spyderproject
.spyproject

## Rope
.ropeproject

# Type Checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython & Compilation
cython_debug/
*.manifest
*.spec

# Framework Specific
## Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

## Flask
instance/
.webassets-cache

## Scrapy
.scrapy

## Celery
celerybeat-schedule
celerybeat.pid

## Jupyter
.ipynb_checkpoints

## SageMath
*.sage.py

# Documentation
## Sphinx
docs/_build/

## mkdocs
/site

# Databases
/depictioDB/*
depictioDB_bak/
depictioDB_dev/
depictioDB_K8S/
diagnostic.data/
journal/
*.db
dump.rdb

# Data Files
## Large/Heavy files
*.parquet
*.gz
*.csv
*.tsv

## Application Data
data_prepare.json
data.json
data/depictio_data.json
data/depictio_data.json.bak
data/jbrowse_df_mapping_dict.json
wf_data/
data/minio/
user_data.json
*.b64
dashboards.json

# Security & Keys
## Keys
### ignore everything under depictio/keys
/depictio/keys/*
depictio/keys/internal_api_key.pem

### but keep the folder itself
!/depictio/keys/

### and keep your placeholder file
!/depictio/keys/.gitkeep

## Sensitive data
.env
.env.*
!.env.example
!docker-compose/
!docker-compose/.env

*_token.yaml
depictio/.depictio/
depictio/.depictio/*.yaml

# Development Environment
## Dev directories
bak/
# dev/
dev/jbrowse_dev/assets/multiqc/
dev/jbrowse_dev/assets/
dev/flask-login/.env
dev/token/private_key.pem
dev/token/public_key.pem
dev/token/token.txt
dev/celery/jobs.json
dev/dev_design_visu/data/
dev/dev_delta/
dev/dev_minio/
!dev/multiqc_parser

## Screenshots
screenshot_*.png
# Ignore all screenshots recursively
depictio/dash/**/screenshots/**

# Allow the specific file
!depictio/dash/static/screenshots/6824cb3b89d2b72169309737.png

# Ensure parent directories are also un-ignored
!depictio/
!depictio/dash/
!depictio/dash/static/
!depictio/dash/static/screenshots/

depictio/tests/dash/screenshots/

# Cloud Storage
## S3/MinIO
minio_data/
delta_dev/

# Software Specific
## JBrowse2
jbrowse2/
depictio/jbrowse2_configs/
jbrowse-watcher-plugin/jbrowse2_sessions/
jbrowse2_sessions/
jbrowse2_configs/
jbrowse-watcher-plugin/

## PyBuilder
.pybuilder/
target/

# System Files
.DS_Store

# Application Specific
## Depictio
# depictio/dash/static/
# depictio/dash/assets/
ldap_config/
ldap_db/

# Development Tools
.aider*

# CI/CD
## GitHub Actions
!iris.csv
!demographic_data.csv
!physical_features.csv

# Cypress
depictio/tests/e2e-tests/node_modules/
depictio/tests/e2e-tests/cypress/screenshots/
# depictio/tests/e2e-tests/package-lock.json

# Backups
depictio/backups/
depictio/depictio/backups/

# Benchmarks
benchmark_datasets/

# Sensitive Helm values files
helm-charts/depictio/values-*-secrets.yaml
helm-charts/depictio/*secrets*.yaml
dev/dev-multiqc-parquet/detailed_extraction_reports/
