services:
  mongo:
    image: mongo:8.0
    command: mongod --dbpath /data/depictioDB --port 27018 --logpath /dev/null
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - 27018:27018
    volumes:
      - ./depictioDB:/data/depictioDB

  depictio-frontend:
    image: depictio:dev
    build:
      dockerfile: docker-images/Dockerfile_depictio.dev.vnc.dockerfile
      context: .
    ports:
      - 5080:5080
    volumes:
      - ./depictio:/app/depictio
      - ./docker-images/run_dash.sh:/app/run_dash.sh
      - ./pyproject.toml:/app/pyproject.toml
    environment:
        DEPICTIO_DEV_MODE: "${DEPICTIO_DEV_MODE:-false}"
        DEPICTIO_LOGGING_VERBOSITY_LEVEL: "DEBUG"
        DISPLAY: ":99"
    command: ["python", "/app/depictio/dash/app.py"]
    user: "${UID:-1000}:${GID:-1000}"
    depends_on:
      - mongo
      - depictio-backend

  depictio-backend:
    image: depictio:dev
    build:
      dockerfile: docker-images/Dockerfile_depictio.dev.vnc.dockerfile
      context: .
    ports:
      - 8058:8058
      - 5900:5900  # VNC port
    volumes:
      - ./depictio:/app/depictio
      - ./pyproject.toml:/app/pyproject.toml
      - ./docker-images/run_fastapi.sh:/app/run_fastapi.sh
      - ./docker-images/start_with_display.sh:/app/start_with_display.sh
    environment:
        DEPICTIO_DEV_MODE: "${DEPICTIO_DEV_MODE:-false}"
        DEPICTIO_LOGGING_VERBOSITY_LEVEL: "DEBUG"
        FORCE_COLOR: "1"
        TERM: "xterm-256color"
        PYTHONIOENCODING: "UTF-8"
        DISPLAY: ":99"
    command: ["/app/start_with_display.sh"]
    user: "${UID:-1000}:${GID:-1000}"
    tty: true
    depends_on:
      - mongo
