# SAML IdP Settings
CMD_SAML_IDPSSOURL=http://localhost:8080/realms/master/protocol/saml
CMD_SAML_IDPCERT=keycloak_local.pem
CMD_REDIRECT_URL=http://localhost:8000/auth/saml/callback
CMD_SAML_IDENTIFIERFORMAT=urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
CMD_SAML_SP_ENTITY_ID=depictio-dev-datasci

# Application Settings
BASE_URL=http://localhost:8000
JWT_SECRET=your-jwt-secret-key-here