# Depictio requirements

bleach==6.1.0
boto3==1.34.36
botocore==1.34.36
dash_ag_grid==31.2.0
dash_bootstrap_components==1.5.0
dash_draggable==0.1.2
dash_iconify==0.1.2
dash_mantine_components==0.12.1
dash==2.17.0
deltalake==0.17.4
fastapi==0.111.0
httpx==0.27.0
numpy==1.26.4
pandas==2.2.2
plotly==5.18.0
polars==0.20.28
pydantic[email]==1.10.10
PyJWT==2.8.0
pymongo==4.6.1
python-dotenv==1.0.1
python_jose==3.3.0
PyYAML==6.0.1
redis==5.0.1
uvicorn==0.29.0
